.home {
    display: grid;
    grid-template-areas: 'header side' 'content side';
    grid-template-columns: 3fr 1fr;
    column-gap: 24px;

    .header {
        grid-area: header;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
            display: block;
            font-size: 1.5em;
            margin-block-start: 0.83em;
            margin-block-end: 0.83em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            font-weight: bold;
            unicode-bidi: isolate;
        }

        p {
            color: #64748b;
        }

    }

    .content {
        grid-area: content;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
        gap: 16px;
    }

    .sidebar {
        grid-area: side;
        display: flex;
        flex-direction: column;
        gap: 16px;

        .filter,
        .lastUpload {

            background: white;
            padding: 16px;
            border-radius: 16px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);

            h4 {
                display: block;
                font-weight: bold;
                margin-top: 0;
                unicode-bidi: isolate;
            }

            label {
                display: block;
                margin-top: 8px;
                color: #64748b;
            }

            select,
            input {
                width: 100%;
                padding: 8px;
                margin-top: 6px;
                border-radius: 8px;
                border: 1px solid #e6e9ef;
                cursor: pointer;
            }

            ul {
                list-style: '- ';
                color: #64748b;
                padding-left: 1rem;
            }

        }

    }
}