.container {
  background-color: var(--surface);
  padding: var(--space-4);
  border-radius: var(--radius-md);
  border: 1px solid var(--border);
  box-shadow: var(--shadow-sm);

  button:active {
    background-color: var(--secondary-soft) !important;
  }
}

/* ===========================
   TAB BAR
=========================== */

.tabBar {
  display: flex;
  gap: var(--space-2);
  /* border-bottom: 1px solid var(--secondary); */
}

.tab {
  padding: var(--space-2) var(--space-3);
  border-radius: var(--radius-md) var(--radius-md) 0 0;
  background: var(--surface);
  border: 1px solid transparent;
  cursor: pointer;
  color: var(--text);
  font-weight: 500;
  transition: 0.2s ease;
}

.tab:hover {
  background: var(--secondary-soft);
  border-color: var(--secondary);
}

/* ===========================
   TAB ATIVA
=========================== */

.active {
  background-color: var(--secondary);
  border-color: var(--secondary);
  color: white;
}

.active:hover {
  background-color: var(--secondary) !important;
  color: white !important;
}

/* ===========================
   CONTEÚDO
=========================== */

.content {
  border: 1px solid var(--border);
  border-radius: var(--radius-md);
  padding: var(--space-0);

  /* gradiente suave usando variáveis */
  border-image: linear-gradient(
      180deg,
      var(--secondary),
      rgba(85, 180, 191, 0)
    )
    1;
}

.header {
  width: 100%;
  background: #ffffff;
  padding: 18px 24px;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 8px;
  border-radius: 8px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.headerTitle {
  font-size: 22px;
  font-weight: 600;
  color: #333;
  margin: 0;
}

.userArea {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.userName {
  font-weight: 600;
  font-size: 16px;
  color: #222;
}

.userEmail {
  font-size: 14px;
  color: #777;
}
