.modal {
  border-radius: 8px;

  .modal-primary-color {
    background-color: #55B4BF !important;
    color: white !important;

    &:hover {
      background-color: #419599 !important;
      color: white !important;
    }
  }

  header {
    border-radius: 8px 8px 0 0;
    color: white;
    background-color: #55B4BF;
  }

  span.modal-close-button {
    border-radius: 50%;
    background-color: transparent;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
    &:hover {
      background-color: #00000033 !important;
      color: lightgray !important;
    }
  }
  
  .register-footer {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
  }

  .modal-footer {
    border-radius: 0 0 8px 8px;
  }
}

.close-mesage {
  float: right;
  cursor: pointer;
}