.card {
  background-color: white;
  padding: 16px;
  border-radius: 16px;
  transition: 0.2s;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
  

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.08);
  }
}

.title {
  display: flex;
  gap: 4px;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-size: 17px;
    color: #003366;
    margin: 0 0 8px;
  }

  span {
    display: inline-block;
    padding: 4px 10px;
    border-radius: 999px;
    background: #00a676;
    color: #fff;
    font-weight: 700;
    font-size: 12px;
  }

}

.subtitle {
  color: #64748b;
  margin: 8px 0 12px;
}

.content {
  margin: 0 0 12px;
}

.actions {
  display: flex;
  gap: 8px;

  .btnProject {
    display: inline-block;
    padding: 9px 14px;
    border-radius: 8px;
    background: #003366;
    color: white;
    text-decoration: none;
    font-weight: 700;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.2s;
    border: 1px solid black;

    &:hover {
      background-color: #00a676;
      border: 1px solid transparent;
      transform: scale(1.05);
    }
  }

  .btnInstitution {
    display: inline-block;
    padding: 9px 14px;
    border-radius: 8px;
    background: transparent;
    color: #003366;
    text-decoration: none;
    font-weight: 700;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      transform: scale(1.05);
    }
  }
}